* {
  font-family: "Lemon Milk";
  text-underline-offset: 4px;
  color: white;
}

body {
  background-image: url("bg.png");
  background-size: cover;
}

div#content {
  background-color: black;
  margin-top: 5%;
}

div,
footer {
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 36px;
}

div#content p {
  margin: auto;
  width: 70%;
}

p#main,
img#main2,
img#media {
  color: blanchedalmond;
  font-size: 28px;
  margin-left: -20%;
}

img#media:hover {
  cursor: pointer;
}

img#main {
  float: right;
  margin-right: 8%;
}

nav,
footer {
  background-color: black;
  padding: 0.6%;
}

img,
footer,
nav object {
  padding: 1%;
}

nav object {
  width: 20%;
  padding-left: 60%;
}

@media (min-width: 1280px) {
  nav img,
  nav object {
    height: 75px;
  }
}

@media (max-width: 1280px) {
  nav img,
  nav object {
    height: 50px;
  }
}

@font-face {
  font-family: "Lemon Milk";
  src: url("lemon_milk.otf");
}
