* {
  font-family: "Lemon Milk";
  text-underline-offset: 4px;
  text-align: center;
  color: white;
}

body {
  background-image: url("bg.png");
  background-size: cover;
}

div#content {
  background-color: black;
}

table {
  width: 90%;
}

table,
footer {
  margin: auto;
}

h1 {
  font-size: 36px;
}

p#main,
img#main2,
img#media {
  color: blanchedalmond;
  font-size: 28px;
  margin-left: -13%;
}

img#media:hover {
  cursor: pointer;
}

img#main {
  float: right;
  margin-top: 1%;
  margin-right: 4%;
}

nav,
footer {
  background-color: black;
  padding: 0.6%;
}

img,
div,
footer,
nav object {
  padding: 1%;
}

table tr {
  display: inline;
}

table tr td {
  padding: 2%;
}

table tr td img {
  width: 100%;
}

nav object {
  width: 20%;
  padding-left: 60%;
}

nav img,
nav object {
  height: 75px;
}

@font-face {
  font-family: "Lemon Milk";
  src: url("lemon_milk.otf");
}
